@tailwind base;
@layer base {
  html {
    @apply text-dark-teal;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div {
    font-family: var(--font-montserrat);
  }
}
@tailwind components;
@tailwind utilities;


.variantSelector {
  @apply text-dark-teal;
}

.disable-a-pointer-events a {
  pointer-events: none;
}
